In [4]:
import pandas as pd
esc = pd.read_csv('wdfwHatchery6_18.csv', low_memory=False)
esc = esc[['Species', 'Event','Origin','Brood Year','Run','Facility','Adult Count','Date']]
esc = esc[esc.Event == 'Trap Estimate']
esc = esc.drop(columns=['Event'])
esc = esc[esc['Adult Count'] != 0]
esc['Date'] = pd.to_datetime(esc['Date'])
esc['DOY'] = esc['Date'].dt.strftime('%j')
esc['Year'] = esc['Date'].dt.strftime('%Y')
esc = esc[esc['Year'] != '2021']
esc = esc[esc['Year'] != '1995']
esc['Year'] = esc['Year'].astype(str).astype(int)
esc

,Species,Origin,Brood Year,Run,Facility,Adult Count,Date,DOY,Year
379,Chinook,HATCHERY,2011,Spring,METHOW HATCHERY,5,2011-06-14,165,2011
380,Chinook,HATCHERY,2011,Spring,METHOW HATCHERY,8,2011-06-15,166,2011
381,Chinook,WILD,2011,Spring,METHOW HATCHERY,2,2011-06-13,164,2011
382,Chinook,WILD,2011,Spring,METHOW HATCHERY,4,2011-06-14,165,2011
383,Chinook,WILD,2011,Spring,METHOW HATCHERY,3,2011-06-15,166,2011
...,...,...,...,...,...,...,...,...,...
436195,Coho,HATCHERY,2020,Type S,PRIEST RAPIDS HATCHERY,1,2020-11-06,311,2020
436196,Coho,HATCHERY,2020,Type S,PRIEST RAPIDS HATCHERY,1,2020-11-09,314,2020
436197,Coho,HATCHERY,2020,Type S,PRIEST RAPIDS HATCHERY,3,2020-11-12,317,2020
436198,Coho,HATCHERY,2020,Type S,PRIEST RAPIDS HATCHERY,1,2020-11-18,323,2020
436316,Chum,UNKNOWN,2020,NaN,MARBLEMOUNT HATCHERY,272,2020-11-16,321,2020

In [5]:
species = ['Chinook','Coho','Sockeye','Pink','Chum','Steelhead']
esc = esc[esc.Species.isin(species)]
esc.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 132202 entries, 379 to 436316
Data columns (total 9 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   Species      132202 non-null  object
 1   Origin       132202 non-null  object
 2   Brood Year   132202 non-null  int64
 3   Run          114102 non-null  object
 4   Facility     132202 non-null  object
 5   Adult Count  132202 non-null  int64
 6   Date         132202 non-null  datetime64[ns]
 7   DOY          132202 non-null  object
 8   Year         132202 non-null  int32
dtypes: datetime64[ns](1), int32(1), int64(2), object(5)
memory usage: 9.6+ MB

In [6]:
#Create lists for Facilities, Runs, Brood Years, Origin, Species
run = esc[['Run']].drop_duplicates()
run = run.values.tolist()
# brood = esc[['Brood Year']].drop_duplicates()
# brood = brood.values.tolist()
origin = [['WILD'],['HATCHERY'],['UNKNOWN']]
facilities = esc[['Facility']].drop_duplicates()
facilities = facilities.values.tolist()

species = esc[['Species']].drop_duplicates()
species = species.values.tolist()
facilities = sorted(facilities)
years = esc[['Year']].drop_duplicates()
years = years.sort_values(by='Year')
years = years.values.tolist()

In [7]:
k = 0
#for each facility in study
tst = []
for f in facilities:
    fac = esc[esc.Facility.isin(f)]
    if fac.Year.isin([2020]).any().any():
    
        #for each species in each facility
        for s in species:
            facspec = fac[fac.Species.isin(s)]
            if facspec.empty == True:
                continue

            #for if the species for each facility is wild or hatchery
            for org in origin:
                facspecorg = facspec[facspec.Origin.isin(org)]
                if facspecorg.empty == True:
                    continue

                #for each run for each species in the facility
                for r in run:
                    final = facspecorg[facspecorg.Run.isin(r)]
                    if final.empty == True:
                        continue
                    if final.shape[0] > 30:
                        k += 1
                        
                        if f not in tst:
                            tst.append(f) 
    else:
        continue
# tst.to_csv('facilities_inStudy.csv', index=False)
print(len(tst))
facilities = tst
tst

51

[['BAKER LK HATCHERY'],
 ['BEAVER CR HATCHERY'],
 ['BINGHAM CR HATCHERY'],
 ['BOGACHIEL HATCHERY'],
 ['CEDAR RIVER HATCHERY'],
 ['CHIWAWA HATCHERY'],
 ['COTTONWOOD CR POND'],
 ['COWLITZ SALMON HATCHERY'],
 ['DUNGENESS HATCHERY'],
 ['EASTBANK HATCHERY'],
 ['ELWHA HATCHERY'],
 ['FORKS CREEK HATCHERY'],
 ['FOSTER RD TRAP'],
 ['GARRISON HATCHERY'],
 ['GEORGE ADAMS HATCHERY'],
 ['HOODSPORT HATCHERY'],
 ['HUMPTULIPS HATCHERY'],
 ['HURD CR HATCHERY'],
 ['ICY CR HATCHERY'],
 ['ISSAQUAH HATCHERY'],
 ['KALAMA FALLS HATCHERY'],
 ['KENDALL CR HATCHERY'],
 ['LEWIS RIVER HATCHERY'],
 ['LK ABERDEEN HATCHERY'],
 ['LYONS FERRY HATCHERY'],
 ['MARBLEMOUNT HATCHERY'],
 ['MCKERNAN HATCHERY'],
 ['MERWIN DAM FCF'],
 ['MINTER CR HATCHERY'],
 ['MODROW TRAP'],
 ['NASELLE HATCHERY'],
 ['NEMAH HATCHERY'],
 ['NORTH TOUTLE HATCHERY'],
 ['PRIEST RAPIDS HATCHERY'],
 ['REITER PONDS'],
 ['RINGOLD SPRINGS HATCHERY'],
 ['SAMISH HATCHERY'],
 ['SKAMANIA HATCHERY'],
 ['SKOOKUMCHUCK HATCHERY'],
 ['SOLDUC HATCHERY'],
 ['SOOS CREEK HATCHERY'],
 ['SPEELYAI HATCHERY'],
 ['SUNSET FALLS FCF'],
 ['TOKUL CR HATCHERY'],
 ['TUCANNON HATCHERY'],
 ['TUMWATER FALLS HATCHERY'],
 ['VOIGHTS CR HATCHERY'],
 ['WALLACE R HATCHERY'],
 ['WASHOUGAL HATCHERY'],
 ['WASHOUGAL RIVER FISH WEIR'],
 ['WHITEHORSE POND']]

In [9]:
for f in facilities:
    tf = []
    fac = esc[esc.Facility.isin(f)]
    for s in species:
        facspec = fac[fac.Species.isin(s)]
        if facspec.empty == True:
            continue
        for org in origin:
            facspecorg = facspec[facspec.Origin.isin(org)]
            if facspecorg.empty == True:
                continue
            for r in run:
                final = facspecorg[facspecorg.Run.isin(r)]
                if final.empty == True:
                    continue
                if final.shape[0] > 30:
                    for y in years:
                        ycount = final[final.Year.isin(y)]
                        ysum = ycount['Adult Count'].sum()
                        fish = (org[0].capitalize()+" "+str(r[0]).replace("nan","")+" "+s[0]).replace("  "," ")
                        tf.append([fish,y[0],ysum]) 
                    xf = pd.DataFrame(tf, columns=['Run','Year','Count'])
# org[0][:4]+"_"+str(r[0]).replace("nan","")+"_"+s[0]
# [s[0],org[0].capitalize(),str(r[0])
    print(xf)
    xf.to_csv(f'lineChartData/{f[0].replace(" ","_")}.csv', index=False)

                 Run  Year  Count
0   Hatchery Sockeye  1997   3034
1   Hatchery Sockeye  1998   3059
2   Hatchery Sockeye  1999   3548
3   Hatchery Sockeye  2000  10304
4   Hatchery Sockeye  2001   4939
..               ...   ...    ...
91      Unknown Coho  2016    253
92      Unknown Coho  2017    255
93      Unknown Coho  2018    202
94      Unknown Coho  2019    205
95      Unknown Coho  2020    201

[96 rows x 3 columns]
                          Run  Year  Count
0   Hatchery Summer Steelhead  1997      0
1   Hatchery Summer Steelhead  1998     70
2   Hatchery Summer Steelhead  1999      0
3   Hatchery Summer Steelhead  2000      0
4   Hatchery Summer Steelhead  2001      0
..                        ...   ...    ...
67       Hatchery Type N Coho  2016     32
68       Hatchery Type N Coho  2017      8
69       Hatchery Type N Coho  2018     16
70       Hatchery Type N Coho  2019    715
71       Hatchery Type N Coho  2020    193

[72 rows x 3 columns]
                       Run  Year  Count
0    Hatchery Fall Chinook  1997     10
1    Hatchery Fall Chinook  1998     21
2    Hatchery Fall Chinook  1999      0
3    Hatchery Fall Chinook  2000      0
4    Hatchery Fall Chinook  2001      0
..                     ...   ...    ...
211              Wild Chum  2016      0
212              Wild Chum  2017      0
213              Wild Chum  2018      0
214              Wild Chum  2019      0
215              Wild Chum  2020      0

[216 rows x 3 columns]
                          Run  Year  Count
0   Hatchery Summer Steelhead  1997    123
1   Hatchery Summer Steelhead  1998    844
2   Hatchery Summer Steelhead  1999    315
3   Hatchery Summer Steelhead  2000    358
4   Hatchery Summer Steelhead  2001   1236
5   Hatchery Summer Steelhead  2002    768
6   Hatchery Summer Steelhead  2003   1122
7   Hatchery Summer Steelhead  2004   1941
8   Hatchery Summer Steelhead  2005    606
9   Hatchery Summer Steelhead  2006   1678
10  Hatchery Summer Steelhead  2007    776
11  Hatchery Summer Steelhead  2008   1010
12  Hatchery Summer Steelhead  2009    620
13  Hatchery Summer Steelhead  2010   1348
14  Hatchery Summer Steelhead  2011   1160
15  Hatchery Summer Steelhead  2012   1461
16  Hatchery Summer Steelhead  2013    551
17  Hatchery Summer Steelhead  2014    995
18  Hatchery Summer Steelhead  2015    651
19  Hatchery Summer Steelhead  2016    666
20  Hatchery Summer Steelhead  2017    192
21  Hatchery Summer Steelhead  2018    275
22  Hatchery Summer Steelhead  2019    117
23  Hatchery Summer Steelhead  2020    169
24  Hatchery Winter Steelhead  1997    190
25  Hatchery Winter Steelhead  1998   1416
26  Hatchery Winter Steelhead  1999   1900
27  Hatchery Winter Steelhead  2000   1105
28  Hatchery Winter Steelhead  2001   2143
29  Hatchery Winter Steelhead  2002   2641
30  Hatchery Winter Steelhead  2003   1621
31  Hatchery Winter Steelhead  2004   4414
32  Hatchery Winter Steelhead  2005   1936
33  Hatchery Winter Steelhead  2006   2729
34  Hatchery Winter Steelhead  2007   1370
35  Hatchery Winter Steelhead  2008    847
36  Hatchery Winter Steelhead  2009   2392
37  Hatchery Winter Steelhead  2010   3002
38  Hatchery Winter Steelhead  2011   1823
39  Hatchery Winter Steelhead  2012   2649
40  Hatchery Winter Steelhead  2013   1703
41  Hatchery Winter Steelhead  2014   2727
42  Hatchery Winter Steelhead  2015   3188
43  Hatchery Winter Steelhead  2016   2204
44  Hatchery Winter Steelhead  2017   2787
45  Hatchery Winter Steelhead  2018   1783
46  Hatchery Winter Steelhead  2019   1044
47  Hatchery Winter Steelhead  2020   1443
                  Run  Year  Count
0   Wild Fall Chinook  1997     53
1   Wild Fall Chinook  1998    222
2   Wild Fall Chinook  1999     46
3   Wild Fall Chinook  2000     10
4   Wild Fall Chinook  2001     38
..                ...   ...    ...
91          Wild Coho  2016      0
92          Wild Coho  2017      0
93          Wild Coho  2018      0
94          Wild Coho  2019      0
95          Wild Coho  2020      0

[96 rows x 3 columns]
                        Run  Year  Count
0       Wild Spring Chinook  1997      0
1       Wild Spring Chinook  1998      0
2       Wild Spring Chinook  1999      1
3       Wild Spring Chinook  2000      0
4       Wild Spring Chinook  2001      0
5       Wild Spring Chinook  2002      0
6       Wild Spring Chinook  2003      0
7       Wild Spring Chinook  2004     95
8       Wild Spring Chinook  2005    301
9       Wild Spring Chinook  2006     97
10      Wild Spring Chinook  2007     55
11      Wild Spring Chinook  2008    108
12      Wild Spring Chinook  2009    107
13      Wild Spring Chinook  2010     85
14      Wild Spring Chinook  2011     77
15      Wild Spring Chinook  2012     90
16      Wild Spring Chinook  2013      0
17      Wild Spring Chinook  2014     37
18      Wild Spring Chinook  2015     99
19      Wild Spring Chinook  2016     47
20      Wild Spring Chinook  2017     33
21      Wild Spring Chinook  2018     38
22      Wild Spring Chinook  2019     12
23      Wild Spring Chinook  2020     62
24  Hatchery Spring Chinook  1997      0
25  Hatchery Spring Chinook  1998      0
26  Hatchery Spring Chinook  1999      0
27  Hatchery Spring Chinook  2000      0
28  Hatchery Spring Chinook  2001      0
29  Hatchery Spring Chinook  2002      0
30  Hatchery Spring Chinook  2003      0
31  Hatchery Spring Chinook  2004    144
32  Hatchery Spring Chinook  2005    509
33  Hatchery Spring Chinook  2006    321
34  Hatchery Spring Chinook  2007    208
35  Hatchery Spring Chinook  2008    981
36  Hatchery Spring Chinook  2009    605
37  Hatchery Spring Chinook  2010    808
38  Hatchery Spring Chinook  2011    327
39  Hatchery Spring Chinook  2012    579
40  Hatchery Spring Chinook  2013      0
41  Hatchery Spring Chinook  2014    108
42  Hatchery Spring Chinook  2015    351
43  Hatchery Spring Chinook  2016     53
44  Hatchery Spring Chinook  2017    104
45  Hatchery Spring Chinook  2018     61
46  Hatchery Spring Chinook  2019     77
47  Hatchery Spring Chinook  2020    107
                          Run  Year  Count
0       Wild Summer Steelhead  1997      0
1       Wild Summer Steelhead  1998      0
2       Wild Summer Steelhead  1999      0
3       Wild Summer Steelhead  2000      0
4       Wild Summer Steelhead  2001      0
5       Wild Summer Steelhead  2002      0
6       Wild Summer Steelhead  2003      0
7       Wild Summer Steelhead  2004     16
8       Wild Summer Steelhead  2005      3
9       Wild Summer Steelhead  2006     35
10      Wild Summer Steelhead  2007     18
11      Wild Summer Steelhead  2008     30
12      Wild Summer Steelhead  2009     20
13      Wild Summer Steelhead  2010     59
14      Wild Summer Steelhead  2011      9
15      Wild Summer Steelhead  2012      0
16      Wild Summer Steelhead  2013     26
17      Wild Summer Steelhead  2014      0
18      Wild Summer Steelhead  2015      0
19      Wild Summer Steelhead  2016      7
20      Wild Summer Steelhead  2017      3
21      Wild Summer Steelhead  2018      0
22      Wild Summer Steelhead  2019      0
23      Wild Summer Steelhead  2020      0
24  Hatchery Summer Steelhead  1997      0
25  Hatchery Summer Steelhead  1998    720
26  Hatchery Summer Steelhead  1999    222
27  Hatchery Summer Steelhead  2000    291
28  Hatchery Summer Steelhead  2001    774
29  Hatchery Summer Steelhead  2002   1710
30  Hatchery Summer Steelhead  2003    480
31  Hatchery Summer Steelhead  2004    850
32  Hatchery Summer Steelhead  2005   1010
33  Hatchery Summer Steelhead  2006   2006
34  Hatchery Summer Steelhead  2007    558
35  Hatchery Summer Steelhead  2008   1497
36  Hatchery Summer Steelhead  2009   2313
37  Hatchery Summer Steelhead  2010   1409
38  Hatchery Summer Steelhead  2011    509
39  Hatchery Summer Steelhead  2012   1081
40  Hatchery Summer Steelhead  2013    942
41  Hatchery Summer Steelhead  2014    861
42  Hatchery Summer Steelhead  2015    322
43  Hatchery Summer Steelhead  2016   1132
44  Hatchery Summer Steelhead  2017    275
45  Hatchery Summer Steelhead  2018    918
46  Hatchery Summer Steelhead  2019      0
47  Hatchery Summer Steelhead  2020    911
                     Run  Year  Count
0    Wild Spring Chinook  1997      0
1    Wild Spring Chinook  1998      0
2    Wild Spring Chinook  1999      0
3    Wild Spring Chinook  2000      0
4    Wild Spring Chinook  2001      0
..                   ...   ...    ...
379            Wild Pink  2016      0
380            Wild Pink  2017      0
381            Wild Pink  2018      0
382            Wild Pink  2019      0
383            Wild Pink  2020      0

[384 rows x 3 columns]
                     Run  Year  Count
0    Wild Spring Chinook  1997   1610
1    Wild Spring Chinook  1998    741
2    Wild Spring Chinook  1999   1228
3    Wild Spring Chinook  2000    993
4    Wild Spring Chinook  2001    772
..                   ...   ...    ...
163     Wild Summer Pink  2016      0
164     Wild Summer Pink  2017      0
165     Wild Summer Pink  2018      0
166     Wild Summer Pink  2019      0
167     Wild Summer Pink  2020      0

[168 rows x 3 columns]

                      Run  Year  Count
0     Wild Spring Chinook  1997      0
1     Wild Spring Chinook  1998      0
2     Wild Spring Chinook  1999      0
3     Wild Spring Chinook  2000      0
4     Wild Spring Chinook  2001      0
..                    ...   ...    ...
235  Hatchery Type S Coho  2016      0
236  Hatchery Type S Coho  2017      0
237  Hatchery Type S Coho  2018      0
238  Hatchery Type S Coho  2019      0
239  Hatchery Type S Coho  2020      0

[240 rows x 3 columns]
                       Run  Year  Count
0    Hatchery Fall Chinook  1997      0
1    Hatchery Fall Chinook  1998      0
2    Hatchery Fall Chinook  1999      0
3    Hatchery Fall Chinook  2000      0
4    Hatchery Fall Chinook  2001      0
..                     ...   ...    ...
115              Wild Chum  2016      0
116              Wild Chum  2017      0
117              Wild Chum  2018      0
118              Wild Chum  2019      0
119              Wild Chum  2020      0

[120 rows x 3 columns]
                   Run  Year  Count
0    Wild Fall Chinook  1997      0
1    Wild Fall Chinook  1998      0
2    Wild Fall Chinook  1999      0
3    Wild Fall Chinook  2000      0
4    Wild Fall Chinook  2001      0
..                 ...   ...    ...
235       Unknown Chum  2016   2039
236       Unknown Chum  2017    351
237       Unknown Chum  2018   1090
238       Unknown Chum  2019    864
239       Unknown Chum  2020   3452

[240 rows x 3 columns]
                   Run  Year  Count
0    Wild Fall Chinook  1997      0
1    Wild Fall Chinook  1998      0
2    Wild Fall Chinook  1999      0
3    Wild Fall Chinook  2000      0
4    Wild Fall Chinook  2001      0
..                 ...   ...    ...
115       Unknown Chum  2016      0
116       Unknown Chum  2017      0
117       Unknown Chum  2018      0
118       Unknown Chum  2019      0
119       Unknown Chum  2020    697

[120 rows x 3 columns]
                       Run  Year  Count
0    Hatchery Fall Chinook  1997   1453
1    Hatchery Fall Chinook  1998   1576
2    Hatchery Fall Chinook  1999    560
3    Hatchery Fall Chinook  2000    350
4    Hatchery Fall Chinook  2001    508
..                     ...   ...    ...
115     Hatchery Late Chum  2016      0
116     Hatchery Late Chum  2017      0
117     Hatchery Late Chum  2018      0
118     Hatchery Late Chum  2019      0
119     Hatchery Late Chum  2020      0

[120 rows x 3 columns]
                      Run  Year  Count
0   Hatchery Fall Chinook  1997   1835
1   Hatchery Fall Chinook  1998   6279
2   Hatchery Fall Chinook  1999   8297
3   Hatchery Fall Chinook  2000   4055
4   Hatchery Fall Chinook  2001   8816
..                    ...   ...    ...
67          Hatchery Chum  2016      0
68          Hatchery Chum  2017      0
69          Hatchery Chum  2018      0
70          Hatchery Chum  2019      0
71          Hatchery Chum  2020      0

[72 rows x 3 columns]
                       Run  Year  Count
0    Hatchery Fall Chinook  1997   5503
1    Hatchery Fall Chinook  1998   5968
2    Hatchery Fall Chinook  1999  10125
3    Hatchery Fall Chinook  2000   4841
4    Hatchery Fall Chinook  2001   4143
..                     ...   ...    ...
187  Unknown Odd Year Pink  2016      0
188  Unknown Odd Year Pink  2017   2543
189  Unknown Odd Year Pink  2018      0
190  Unknown Odd Year Pink  2019   9607
191  Unknown Odd Year Pink  2020      0

[192 rows x 3 columns]
                       Run  Year  Count
0    Hatchery Fall Chinook  1997    320
1    Hatchery Fall Chinook  1998    294
2    Hatchery Fall Chinook  1999    278
3    Hatchery Fall Chinook  2000    171
4    Hatchery Fall Chinook  2001    175
..                     ...   ...    ...
163     Hatchery Late Coho  2016    570
164     Hatchery Late Coho  2017    200
165     Hatchery Late Coho  2018    358
166     Hatchery Late Coho  2019    150
167     Hatchery Late Coho  2020    274

[168 rows x 3 columns]
                    Run  Year  Count
0   Wild Spring Chinook  1997      0
1   Wild Spring Chinook  1998      0
2   Wild Spring Chinook  1999      0
3   Wild Spring Chinook  2000      0
4   Wild Spring Chinook  2001      0
..                  ...   ...    ...
67       Wild Fall Pink  2016      0
68       Wild Fall Pink  2017      0
69       Wild Fall Pink  2018      0
70       Wild Fall Pink  2019      0
71       Wild Fall Pink  2020      0

[72 rows x 3 columns]
                          Run  Year  Count
0   Hatchery Summer Steelhead  1997      0
1   Hatchery Summer Steelhead  1998      0
2   Hatchery Summer Steelhead  1999      0
3   Hatchery Summer Steelhead  2000      0
4   Hatchery Summer Steelhead  2001      0
5   Hatchery Summer Steelhead  2002      0
6   Hatchery Summer Steelhead  2003      0
7   Hatchery Summer Steelhead  2004      0
8   Hatchery Summer Steelhead  2005      0
9   Hatchery Summer Steelhead  2006      0
10  Hatchery Summer Steelhead  2007      0
11  Hatchery Summer Steelhead  2008      0
12  Hatchery Summer Steelhead  2009      0
13  Hatchery Summer Steelhead  2010      0
14  Hatchery Summer Steelhead  2011      0
15  Hatchery Summer Steelhead  2012     21
16  Hatchery Summer Steelhead  2013     36
17  Hatchery Summer Steelhead  2014     17
18  Hatchery Summer Steelhead  2015      0
19  Hatchery Summer Steelhead  2016      0
20  Hatchery Summer Steelhead  2017     45
21  Hatchery Summer Steelhead  2018      0
22  Hatchery Summer Steelhead  2019      0
23  Hatchery Summer Steelhead  2020     44
24  Hatchery Winter Steelhead  1997      0
25  Hatchery Winter Steelhead  1998      0
26  Hatchery Winter Steelhead  1999      0
27  Hatchery Winter Steelhead  2000      0
28  Hatchery Winter Steelhead  2001      0
29  Hatchery Winter Steelhead  2002      0
30  Hatchery Winter Steelhead  2003      0
31  Hatchery Winter Steelhead  2004      0
32  Hatchery Winter Steelhead  2005      0
33  Hatchery Winter Steelhead  2006      0
34  Hatchery Winter Steelhead  2007      0
35  Hatchery Winter Steelhead  2008      0
36  Hatchery Winter Steelhead  2009      0
37  Hatchery Winter Steelhead  2010      0
38  Hatchery Winter Steelhead  2011      0
39  Hatchery Winter Steelhead  2012      4
40  Hatchery Winter Steelhead  2013     35
41  Hatchery Winter Steelhead  2014     42
42  Hatchery Winter Steelhead  2015     14
43  Hatchery Winter Steelhead  2016     52
44  Hatchery Winter Steelhead  2017      0
45  Hatchery Winter Steelhead  2018      0
46  Hatchery Winter Steelhead  2019      0
47  Hatchery Winter Steelhead  2020      0
                   Run  Year  Count
0    Wild Fall Chinook  1997      0
1    Wild Fall Chinook  1998      0
2    Wild Fall Chinook  1999      0
3    Wild Fall Chinook  2000      0
4    Wild Fall Chinook  2001      0
..                 ...   ...    ...
115      Hatchery Coho  2016   3905
116      Hatchery Coho  2017   3465
117      Hatchery Coho  2018   4005
118      Hatchery Coho  2019   6254
119      Hatchery Coho  2020   4085

[120 rows x 3 columns]
                      Run  Year  Count
0     Wild Spring Chinook  1997      0
1     Wild Spring Chinook  1998      0
2     Wild Spring Chinook  1999      0
3     Wild Spring Chinook  2000      0
4     Wild Spring Chinook  2001      0
..                    ...   ...    ...
331  Hatchery Type N Coho  2016   5138
332  Hatchery Type N Coho  2017    729
333  Hatchery Type N Coho  2018   3418
334  Hatchery Type N Coho  2019   1727
335  Hatchery Type N Coho  2020   4510

[336 rows x 3 columns]
                         Run  Year  Count
0    Hatchery Spring Chinook  1997   1383
1    Hatchery Spring Chinook  1998   1208
2    Hatchery Spring Chinook  1999   2892
3    Hatchery Spring Chinook  2000   1910
4    Hatchery Spring Chinook  2001   5345
..                       ...   ...    ...
139             Unknown Chum  2016    353
140             Unknown Chum  2017    990
141             Unknown Chum  2018   1884
142             Unknown Chum  2019   1168
143             Unknown Chum  2020   2591

[144 rows x 3 columns]
                      Run  Year  Count
0     Wild Spring Chinook  1997      0
1     Wild Spring Chinook  1998      0
2     Wild Spring Chinook  1999      0
3     Wild Spring Chinook  2000      0
4     Wild Spring Chinook  2001      0
..                    ...   ...    ...
283  Hatchery Type N Coho  2016  12171
284  Hatchery Type N Coho  2017   6663
285  Hatchery Type N Coho  2018   9755
286  Hatchery Type N Coho  2019   4710
287  Hatchery Type N Coho  2020  11361

[288 rows x 3 columns]

                   Run  Year  Count
0    Wild Fall Chinook  1997      0
1    Wild Fall Chinook  1998      0
2    Wild Fall Chinook  1999      0
3    Wild Fall Chinook  2000      0
4    Wild Fall Chinook  2001      0
..                 ...   ...    ...
187          Wild Chum  2016    433
188          Wild Chum  2017     18
189          Wild Chum  2018     20
190          Wild Chum  2019    135
191          Wild Chum  2020      7

[192 rows x 3 columns]
                      Run  Year  Count
0     Wild Spring Chinook  1997      0
1     Wild Spring Chinook  1998     50
2     Wild Spring Chinook  1999      2
3     Wild Spring Chinook  2000     10
4     Wild Spring Chinook  2001     44
..                    ...   ...    ...
163  Hatchery Type S Coho  2016      0
164  Hatchery Type S Coho  2017      0
165  Hatchery Type S Coho  2018      0
166  Hatchery Type S Coho  2019      0
167  Hatchery Type S Coho  2020      0

[168 rows x 3 columns]
                     Run  Year  Count
0    Wild Summer Chinook  1997     71
1    Wild Summer Chinook  1998     91
2    Wild Summer Chinook  1999     77
3    Wild Summer Chinook  2000     97
4    Wild Summer Chinook  2001     76
..                   ...   ...    ...
139        Hatchery Coho  2016   8693
140        Hatchery Coho  2017   5443
141        Hatchery Coho  2018   8952
142        Hatchery Coho  2019   8080
143        Hatchery Coho  2020  18736

[144 rows x 3 columns]
              Run  Year  Count
0   Hatchery Chum  1997  12500
1   Hatchery Chum  1998  38000
2   Hatchery Chum  1999   9772
3   Hatchery Chum  2000   2300
4   Hatchery Chum  2001  44500
5   Hatchery Chum  2002  39682
6   Hatchery Chum  2003  61129
7   Hatchery Chum  2004  18165
8   Hatchery Chum  2005  15582
9   Hatchery Chum  2006  27531
10  Hatchery Chum  2007  34650
11  Hatchery Chum  2008  12683
12  Hatchery Chum  2009  17429
13  Hatchery Chum  2010  12925
14  Hatchery Chum  2011  33097
15  Hatchery Chum  2012  26959
16  Hatchery Chum  2013  72939
17  Hatchery Chum  2014  19581
18  Hatchery Chum  2015  44934
19  Hatchery Chum  2016      0
20  Hatchery Chum  2017      0
21  Hatchery Chum  2018      0
22  Hatchery Chum  2019      0
23  Hatchery Chum  2020      0
24   Unknown Chum  1997      0
25   Unknown Chum  1998      0
26   Unknown Chum  1999      0
27   Unknown Chum  2000      0
28   Unknown Chum  2001      0
29   Unknown Chum  2002      0
30   Unknown Chum  2003      0
31   Unknown Chum  2004      0
32   Unknown Chum  2005      0
33   Unknown Chum  2006      0
34   Unknown Chum  2007      0
35   Unknown Chum  2008      0
36   Unknown Chum  2009      0
37   Unknown Chum  2010      0
38   Unknown Chum  2011      0
39   Unknown Chum  2012      0
40   Unknown Chum  2013      0
41   Unknown Chum  2014      0
42   Unknown Chum  2015      0
43   Unknown Chum  2016  52396
44   Unknown Chum  2017  71547
45   Unknown Chum  2018  79086
46   Unknown Chum  2019  12499
47   Unknown Chum  2020  14471
                      Run  Year  Count
0     Wild Spring Chinook  1997      0
1     Wild Spring Chinook  1998      0
2     Wild Spring Chinook  1999      0
3     Wild Spring Chinook  2000      0
4     Wild Spring Chinook  2001      0
..                    ...   ...    ...
379  Hatchery Type N Coho  2016   4998
380  Hatchery Type N Coho  2017   2539
381  Hatchery Type N Coho  2018   1154
382  Hatchery Type N Coho  2019    534
383  Hatchery Type N Coho  2020   1342

[384 rows x 3 columns]
                         Run  Year  Count
0    Hatchery Spring Chinook  1997      0
1    Hatchery Spring Chinook  1998      0
2    Hatchery Spring Chinook  1999    565
3    Hatchery Spring Chinook  2000      0
4    Hatchery Spring Chinook  2001      0
..                       ...   ...    ...
187            Hatchery Pink  2016      0
188            Hatchery Pink  2017      0
189            Hatchery Pink  2018      0
190            Hatchery Pink  2019      0
191            Hatchery Pink  2020      0

[192 rows x 3 columns]
                      Run  Year  Count
0       Wild Fall Chinook  1997      0
1       Wild Fall Chinook  1998      0
2       Wild Fall Chinook  1999      0
3       Wild Fall Chinook  2000      0
4       Wild Fall Chinook  2001      0
..                    ...   ...    ...
187  Hatchery Type N Coho  2016    445
188  Hatchery Type N Coho  2017    178
189  Hatchery Type N Coho  2018    170
190  Hatchery Type N Coho  2019     10
191  Hatchery Type N Coho  2020   1539

[192 rows x 3 columns]
                   Run  Year  Count
0    Wild Fall Chinook  1997      0
1    Wild Fall Chinook  1998      0
2    Wild Fall Chinook  1999      0
3    Wild Fall Chinook  2000      0
4    Wild Fall Chinook  2001      0
..                 ...   ...    ...
211       Unknown Chum  2016    664
212       Unknown Chum  2017   1097
213       Unknown Chum  2018   1025
214       Unknown Chum  2019    852
215       Unknown Chum  2020    799

[216 rows x 3 columns]
                   Run  Year  Count
0    Wild Fall Chinook  1997      0
1    Wild Fall Chinook  1998      0
2    Wild Fall Chinook  1999      0
3    Wild Fall Chinook  2000      0
4    Wild Fall Chinook  2001      0
..                 ...   ...    ...
139       Unknown Chum  2016    740
140       Unknown Chum  2017    588
141       Unknown Chum  2018   1623
142       Unknown Chum  2019   1513
143       Unknown Chum  2020   3245

[144 rows x 3 columns]
                      Run  Year  Count
0       Wild Fall Chinook  1997      0
1       Wild Fall Chinook  1998      0
2       Wild Fall Chinook  1999      0
3       Wild Fall Chinook  2000      0
4       Wild Fall Chinook  2001      0
..                    ...   ...    ...
139  Hatchery Type S Coho  2016   2605
140  Hatchery Type S Coho  2017     57
141  Hatchery Type S Coho  2018    337
142  Hatchery Type S Coho  2019   3544
143  Hatchery Type S Coho  2020   1978

[144 rows x 3 columns]
                      Run  Year  Count
0       Wild Fall Chinook  1997      0
1       Wild Fall Chinook  1998      0
2       Wild Fall Chinook  1999      0
3       Wild Fall Chinook  2000      0
4       Wild Fall Chinook  2001      0
..                    ...   ...    ...
139  Hatchery Type S Coho  2016      0
140  Hatchery Type S Coho  2017      1
141  Hatchery Type S Coho  2018     14
142  Hatchery Type S Coho  2019     16
143  Hatchery Type S Coho  2020     18

[144 rows x 3 columns]
                          Run  Year  Count
0   Hatchery Summer Steelhead  1997    670
1   Hatchery Summer Steelhead  1998    404
2   Hatchery Summer Steelhead  1999    416
3   Hatchery Summer Steelhead  2000    402
4   Hatchery Summer Steelhead  2001    575
5   Hatchery Summer Steelhead  2002    385
6   Hatchery Summer Steelhead  2003    655
7   Hatchery Summer Steelhead  2004    443
8   Hatchery Summer Steelhead  2005    455
9   Hatchery Summer Steelhead  2006    504
10  Hatchery Summer Steelhead  2007    600
11  Hatchery Summer Steelhead  2008    467
12  Hatchery Summer Steelhead  2009    676
13  Hatchery Summer Steelhead  2010    122
14  Hatchery Summer Steelhead  2011    534
15  Hatchery Summer Steelhead  2012    433
16  Hatchery Summer Steelhead  2013    453
17  Hatchery Summer Steelhead  2014    217
18  Hatchery Summer Steelhead  2015    807
19  Hatchery Summer Steelhead  2016    609
20  Hatchery Summer Steelhead  2017    451
21  Hatchery Summer Steelhead  2018    559
22  Hatchery Summer Steelhead  2019     92
23  Hatchery Summer Steelhead  2020    121
24  Hatchery Winter Steelhead  1997      0
25  Hatchery Winter Steelhead  1998    173
26  Hatchery Winter Steelhead  1999      0
27  Hatchery Winter Steelhead  2000      0
28  Hatchery Winter Steelhead  2001      0
29  Hatchery Winter Steelhead  2002      0
30  Hatchery Winter Steelhead  2003     65
31  Hatchery Winter Steelhead  2004    318
32  Hatchery Winter Steelhead  2005    126
33  Hatchery Winter Steelhead  2006     47
34  Hatchery Winter Steelhead  2007     28
35  Hatchery Winter Steelhead  2008     44
36  Hatchery Winter Steelhead  2009     98
37  Hatchery Winter Steelhead  2010     88
38  Hatchery Winter Steelhead  2011    181
39  Hatchery Winter Steelhead  2012    509
40  Hatchery Winter Steelhead  2013    576
41  Hatchery Winter Steelhead  2014    570
42  Hatchery Winter Steelhead  2015    492
43  Hatchery Winter Steelhead  2016    555
44  Hatchery Winter Steelhead  2017    687
45  Hatchery Winter Steelhead  2018    577
46  Hatchery Winter Steelhead  2019    105
47  Hatchery Winter Steelhead  2020     93
                        Run  Year  Count
0   Hatchery Spring Chinook  1997    631
1   Hatchery Spring Chinook  1998   1422
2   Hatchery Spring Chinook  1999    913
3   Hatchery Spring Chinook  2000    503
4   Hatchery Spring Chinook  2001   1724
..                      ...   ...    ...
91     Hatchery Type S Coho  2016      1
92     Hatchery Type S Coho  2017     21
93     Hatchery Type S Coho  2018     11
94     Hatchery Type S Coho  2019     42
95     Hatchery Type S Coho  2020     39

[96 rows x 3 columns]

                  Run  Year  Count
0   Wild Fall Chinook  1997      0
1   Wild Fall Chinook  1998      0
2   Wild Fall Chinook  1999      0
3   Wild Fall Chinook  2000      0
4   Wild Fall Chinook  2001      0
..                ...   ...    ...
91      Hatchery Coho  2016      0
92      Hatchery Coho  2017      0
93      Hatchery Coho  2018      0
94      Hatchery Coho  2019      0
95      Hatchery Coho  2020      0

[96 rows x 3 columns]
                          Run  Year  Count
0       Wild Summer Steelhead  1997      0
1       Wild Summer Steelhead  1998      0
2       Wild Summer Steelhead  1999      0
3       Wild Summer Steelhead  2000      0
4       Wild Summer Steelhead  2001      0
..                        ...   ...    ...
67  Hatchery Winter Steelhead  2016    781
68  Hatchery Winter Steelhead  2017    205
69  Hatchery Winter Steelhead  2018    476
70  Hatchery Winter Steelhead  2019    219
71  Hatchery Winter Steelhead  2020    985

[72 rows x 3 columns]
                            Run  Year  Count
0    Wild Winter-Late Steelhead  1997      0
1    Wild Winter-Late Steelhead  1998      0
2    Wild Winter-Late Steelhead  1999      0
3    Wild Winter-Late Steelhead  2000      0
4    Wild Winter-Late Steelhead  2001      0
..                          ...   ...    ...
139          Hatchery Late Coho  2016    395
140          Hatchery Late Coho  2017    165
141          Hatchery Late Coho  2018     76
142          Hatchery Late Coho  2019    134
143          Hatchery Late Coho  2020    155

[144 rows x 3 columns]
                     Run  Year  Count
0    Wild Summer Chinook  1997      0
1    Wild Summer Chinook  1998      0
2    Wild Summer Chinook  1999      0
3    Wild Summer Chinook  2000      0
4    Wild Summer Chinook  2001      0
..                   ...   ...    ...
187        Hatchery Coho  2016  16332
188        Hatchery Coho  2017  17878
189        Hatchery Coho  2018   9762
190        Hatchery Coho  2019   4712
191        Hatchery Coho  2020  12832

[192 rows x 3 columns]
                   Run  Year  Count
0    Wild Fall Chinook  1997      0
1    Wild Fall Chinook  1998      0
2    Wild Fall Chinook  1999      0
3    Wild Fall Chinook  2000      0
4    Wild Fall Chinook  2001      0
..                 ...   ...    ...
211          Wild Chum  2016      0
212          Wild Chum  2017      0
213          Wild Chum  2018      0
214          Wild Chum  2019      0
215          Wild Chum  2020      0

[216 rows x 3 columns]
                        Run  Year  Count
0   Hatchery Spring Chinook  1997     67
1   Hatchery Spring Chinook  1998   1188
2   Hatchery Spring Chinook  1999    740
3   Hatchery Spring Chinook  2000    777
4   Hatchery Spring Chinook  2001   2009
5   Hatchery Spring Chinook  2002    827
6   Hatchery Spring Chinook  2003    796
7   Hatchery Spring Chinook  2004      0
8   Hatchery Spring Chinook  2005      0
9   Hatchery Spring Chinook  2006      0
10  Hatchery Spring Chinook  2007      0
11  Hatchery Spring Chinook  2008      0
12  Hatchery Spring Chinook  2009      0
13  Hatchery Spring Chinook  2010      0
14  Hatchery Spring Chinook  2011      0
15  Hatchery Spring Chinook  2012      0
16  Hatchery Spring Chinook  2013      0
17  Hatchery Spring Chinook  2014      0
18  Hatchery Spring Chinook  2015     11
19  Hatchery Spring Chinook  2016      0
20  Hatchery Spring Chinook  2017      0
21  Hatchery Spring Chinook  2018      0
22  Hatchery Spring Chinook  2019     50
23  Hatchery Spring Chinook  2020      0
24     Hatchery Type S Coho  1997   5933
25     Hatchery Type S Coho  1998      0
26     Hatchery Type S Coho  1999   1539
27     Hatchery Type S Coho  2000   1676
28     Hatchery Type S Coho  2001   1302
29     Hatchery Type S Coho  2002    899
30     Hatchery Type S Coho  2003    900
31     Hatchery Type S Coho  2004      0
32     Hatchery Type S Coho  2005      0
33     Hatchery Type S Coho  2006      0
34     Hatchery Type S Coho  2007      0
35     Hatchery Type S Coho  2008      0
36     Hatchery Type S Coho  2009      0
37     Hatchery Type S Coho  2010      0
38     Hatchery Type S Coho  2011      8
39     Hatchery Type S Coho  2012      0
40     Hatchery Type S Coho  2013      0
41     Hatchery Type S Coho  2014      0
42     Hatchery Type S Coho  2015      0
43     Hatchery Type S Coho  2016      0
44     Hatchery Type S Coho  2017      0
45     Hatchery Type S Coho  2018      0
46     Hatchery Type S Coho  2019      0
47     Hatchery Type S Coho  2020     74
                     Run  Year  Count
0    Wild Summer Chinook  1997    210
1    Wild Summer Chinook  1998     86
2    Wild Summer Chinook  1999     75
3    Wild Summer Chinook  2000    144
4    Wild Summer Chinook  2001      0
..                   ...   ...    ...
259   Wild Odd Year Pink  2016      0
260   Wild Odd Year Pink  2017   1205
261   Wild Odd Year Pink  2018      0
262   Wild Odd Year Pink  2019    734
263   Wild Odd Year Pink  2020      0

[264 rows x 3 columns]
                          Run  Year  Count
0           Wild Fall Chinook  1997      0
1           Wild Fall Chinook  1998      0
2           Wild Fall Chinook  1999      0
3           Wild Fall Chinook  2000      0
4           Wild Fall Chinook  2001     78
..                        ...   ...    ...
91  Hatchery Winter Steelhead  2016     88
92  Hatchery Winter Steelhead  2017    266
93  Hatchery Winter Steelhead  2018    201
94  Hatchery Winter Steelhead  2019     54
95  Hatchery Winter Steelhead  2020     97

[96 rows x 3 columns]
                          Run  Year  Count
0         Wild Spring Chinook  1997      0
1         Wild Spring Chinook  1998      0
2         Wild Spring Chinook  1999      1
3         Wild Spring Chinook  2000      0
4         Wild Spring Chinook  2001     42
..                        ...   ...    ...
91  Hatchery Summer Steelhead  2016    150
92  Hatchery Summer Steelhead  2017     78
93  Hatchery Summer Steelhead  2018    206
94  Hatchery Summer Steelhead  2019     80
95  Hatchery Summer Steelhead  2020     27

[96 rows x 3 columns]
                      Run  Year  Count
0   Hatchery Fall Chinook  1997   3928
1   Hatchery Fall Chinook  1998   4073
2   Hatchery Fall Chinook  1999   7160
3   Hatchery Fall Chinook  2000   5671
4   Hatchery Fall Chinook  2001   5622
5   Hatchery Fall Chinook  2002   8487
6   Hatchery Fall Chinook  2003   7619
7   Hatchery Fall Chinook  2004  12491
8   Hatchery Fall Chinook  2005   8876
9   Hatchery Fall Chinook  2006  16221
10  Hatchery Fall Chinook  2007  13261
11  Hatchery Fall Chinook  2008  10777
12  Hatchery Fall Chinook  2009   9862
13  Hatchery Fall Chinook  2010   5541
14  Hatchery Fall Chinook  2011   3889
15  Hatchery Fall Chinook  2012   5625
16  Hatchery Fall Chinook  2013  10157
17  Hatchery Fall Chinook  2014   2946
18  Hatchery Fall Chinook  2015   3747
19  Hatchery Fall Chinook  2016  13188
20  Hatchery Fall Chinook  2017  30081
21  Hatchery Fall Chinook  2018  11467
22  Hatchery Fall Chinook  2019   8902
23  Hatchery Fall Chinook  2020   3204
                   Run  Year  Count
0    Wild Fall Chinook  1997      0
1    Wild Fall Chinook  1998      0
2    Wild Fall Chinook  1999      0
3    Wild Fall Chinook  2000      0
4    Wild Fall Chinook  2001      0
..                 ...   ...    ...
139          Wild Pink  2016      0
140          Wild Pink  2017      0
141          Wild Pink  2018      0
142          Wild Pink  2019      0
143          Wild Pink  2020      0

[144 rows x 3 columns]
                         Run  Year  Count
0    Hatchery Summer Chinook  1997    916
1    Hatchery Summer Chinook  1998   1008
2    Hatchery Summer Chinook  1999   1675
3    Hatchery Summer Chinook  2000   3493
4    Hatchery Summer Chinook  2001   3143
..                       ...   ...    ...
139                Wild Pink  2016      0
140                Wild Pink  2017      0
141                Wild Pink  2018      0
142                Wild Pink  2019      0
143                Wild Pink  2020      0

[144 rows x 3 columns]
                   Run  Year  Count
0    Wild Fall Chinook  1997      0
1    Wild Fall Chinook  1998      0
2    Wild Fall Chinook  1999      0
3    Wild Fall Chinook  2000      0
4    Wild Fall Chinook  2001      0
..                 ...   ...    ...
163          Wild Chum  2016    184
164          Wild Chum  2017    157
165          Wild Chum  2018    182
166          Wild Chum  2019    178
167          Wild Chum  2020    170

[168 rows x 3 columns]
                      Run  Year  Count
0       Wild Fall Chinook  1997      0
1       Wild Fall Chinook  1998      0
2       Wild Fall Chinook  1999      0
3       Wild Fall Chinook  2000      0
4       Wild Fall Chinook  2001      0
..                    ...   ...    ...
139  Hatchery Type N Coho  2016      7
140  Hatchery Type N Coho  2017    448
141  Hatchery Type N Coho  2018    102
142  Hatchery Type N Coho  2019     50
143  Hatchery Type N Coho  2020   1112

[144 rows x 3 columns]

                        Run  Year  Count
0   Hatchery Summer Chinook  1997     11
1   Hatchery Summer Chinook  1998      0
2   Hatchery Summer Chinook  1999      0
3   Hatchery Summer Chinook  2000      0
4   Hatchery Summer Chinook  2001      0
..                      ...   ...    ...
91                Wild Coho  2016     25
92                Wild Coho  2017     39
93                Wild Coho  2018     81
94                Wild Coho  2019     98
95                Wild Coho  2020     77

[96 rows x 3 columns]